<div class="question">
  <div>{{quizz.question}}</div>
  <button *ngIf="speechEnable" (click)="speak(quizz.question)">
    <img class="speaker" src="assets/Speaker_Icon.svg"/>
  </button>
</div>
<div *ngFor="let ans of quizz.answers; let index = index" class="answers">
  <button (click)="check(index)" [ngClass]="{wrong: wasWrong(index)}">{{ans}}</button>
</div>