:host {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: x-large;
}

.question {
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.question>button {
    border: none;
    background: none;
}

:host>div {
    width: 100%;
    margin-bottom: 10%;
}

.answers>button {
    width: 100%;
    font-size: x-large;
    padding: 5%;
}

.wrong {
    background-color: red;
    color: rgb(255, 255, 255);
}

.speaker {
    margin-left: 5%;
    height: 50px;
}